/* ==========================================================================
   Basic: Variables
 ============================================================================ */

// Colors
// Grayscale and brand colors.

$gray-dark: #373a3c !default;
$gray: #55595c !default;
$gray-light: #818a91 !default;
$gray-lighter: #eceeef !default;
$gray-lightest: #f7f7f9 !default;

$brand-primary:             #66afe9 !default;
$brand-success:             #5cb85c !default;
$brand-info:                #5bc0de !default;
$brand-warning:             #f0ad4e !default;
$brand-danger:              #d9534f !default;

$link-color: $brand-primary !default;
$link-hover-color: darken($link-color, 15%) !default;

// Options
// Quickly modify global styling by enabling or disabling optional features.

// Buttons

$btn-primary-color:              #fff !default;
$btn-primary-bg:                 $brand-primary !default;

$btn-info-color:                 #fff !default;
$btn-info-bg:                    $brand-info !default;

$btn-success-color:              #fff !default;
$btn-success-bg:                 $brand-success !default;

$btn-warning-color:              #fff !default;
$btn-warning-bg:                 $brand-warning !default;

$btn-danger-color:               #fff !default;
$btn-danger-bg:                  $brand-danger !default;

$btn-link-disabled-color:        $gray-light !default;

// Forms

$input-padding-x:                .75rem !default;
$input-padding-y:                .375rem !default;

$input-bg:                       #fff !default;
$input-bg-disabled:              $gray-lighter !default;

$input-color:                    $gray !default;
$input-border-color:             #ccc !default;

$input-border-focus:             #66afe9 !default;

$input-color-placeholder:        #999 !default;

$form-group-margin-bottom:       1rem !default;
// Tables

$table-cell-padding:            .75rem !default;
$table-bg-hover:                #F1F8FD !default;
$table-border-color:            #CAE5F9 !default;

// Modals

// Breadcrumbs

// Pagination
