<!DOCTYPE html>
<html>
<head>
  <title>Default Truffle App</title>
  <link href='http://fonts.useso.com/css?family=Lato:400,100' rel='stylesheet' type='text/css'>

  <link href="./app.css" rel='stylesheet' type='text/css'>
  <script src="./app.js"></script>
</head>
<body ng-app="Nevermore">
  <header class="navbar">
    <a class="link" href="">SETTING</a>
    <a class="link" href="">HISTORY</a>
  </header>

  <main class="main">
    <h1 class="slogan">NEVER MORE</h1>

    <div ng-controller="SearchCtrl">
      <form class="search" action="">
        <div class="form-group">
          <input class="form-control" type="text" ng-model="query" placeholder="Search">
          <button class="btn btn-primary-outline upload">Upload</button>
        </div>
      </form>


      <section class="table-container" ng-if="query.length > 0">
        <table class="table">
          <thead>
              <tr>
                <th><input type="checkbox"></th>
                <th>Hash</th>
                <th>Type</th>
                <th>Status</th>
                <th>Provider</th>
                <th>Reputation</th>
                <th>Upload Date</th>
                <th>Price</th>
                <th>Action</th>
              </tr>
            </thead>

            <tbody>
              <tr class="ban" ng-repeat="cr in creditRecords | filter: {identity: query}">
                <td><input type="checkbox" ng-click="changeCart($event, cr)"></td>
                <td class="hash">{{cr.id | limitTo: 8 }}</td>
                <td class="type">{{ cr.category | categoryFilter }}</td>
                <td class="status">{{ cr.state | stateFilter }}</td>
                <td class="provider">{{ cr.providerName }}</td>
                <td class="provider-reputation">{{ cr.providerReputation }}</td>
                <td class="date">{{ cr.timestamp * 1000 | date: 'yyyy-MM-dd' }}</td>
                <td class="price">{{ cr.fee | currency:'￥' }}</td>
                <td class="action uploaded">View</td>
              </tr>
            </tbody>
        </table>

        <div class="checkout">
          <div class="sum">
            <p class="price">{{ getTotal() | currency: '￥' }}</p>
            <p class="description">{{ cart.length }} ITEMS</p>
          </div>

          <button class="btn btn-primary-outline purchase" ng-click="buy()" data-toggle="modal" data-target="#purchase-modal">Purchase</button>
        </div>

      </section>
    </div>

    <!-- <section class="info"> -->
    <!--   <div class="profile"> -->
    <!--     <img class="avatar" src="images/avatar.svg" alt=""> -->
    <!--     <p class="identity">ID:445281199xxxx9332xxc</p> -->
    <!--   </div> -->

    <!--   <canvas id="myChart" class="radar"></canvas> -->

    <!--   <div class="prompt"> -->
    <!--     <p class="description"> -->
    <!--       Right, I'm gunna be that guy if nobody else will. Please stop asking to Press L - it makes me feel pressured and nervous -->
    <!--     </p> -->

    <!--     <button class="btn btn-primary-outline purchase">purchase</button> -->
    <!--   </div> -->

    <!-- </section> -->

    <section class="modal fade purchase-form" id="purchase-modal" tabindex="-1" role="dialog" aria-labelledby="purchase-modal">
      <div class="modal-dialog">
        <h2 class="title">Purchase</h2>

        <form action="">
          <input type="hidden">

          <p class="price">{{ getTotal() | currency:'￥' }}</p>
          <button class="btn btn-primary-outline confirm">Confirm</button>
        </form>
      </div>
    </section>

    <section class="upload-form" ng-controller="CreateCtrl">
      <h2 class="title">Upload Data</h2>

      <h3 class="caption">Basic Data</h3>

      <!-- <div class="form-group"> -->
      <!--   <label for="">ID</label> -->
      <!--   <input class="form-control" type="text"> -->
      <!-- </div> -->

      <div class="form-group">
        <label for="">Category</label>
        <select class="form-control c-select" id="exampleSelect1"
          ng-model="creditRecord.category"
          ng-init="creditRecord.category = creditRecord.category || categoryOptions[0].value"
          ng-options="option.value as option.name for option in categoryOptions">
        </select>
      </div>

      <div class="form-group">
        <label for="">状态</label>
        <select class="form-control c-select" id="exampleSelect1">
          <option>申请中</option>
          <option>进行中</option>
          <option>已完结</option>
        </select>
      </div>

      <div class="form-group">
        <label for="">价格</label>
        <input class="form-control" type="text">
      </div>

      <h3 class="caption">Detail Data</h3>

      <div class="form-group">
        <label>违约情况</label>

        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="option1" checked>
             违约
          </label>
        </div>

        <div class="radio">
          <label>
            <input type="radio" name="optionsRadios" value="option1" checked>
             未违约
          </label>
        </div>
      </div>

      <div class="form-group">
        <label for="">本金</label>
        <input class="form-control" type="text">
      </div>

      <div class="form-group">
        <label for="">年化利率</label>
        <input class="form-control" type="text">
      </div>

      <div class="form-group">
        <label for="">期限</label>
        <input class="form-control" type="text" placeholder="e.g. 3 days, 3 months , 3 years">
      </div>

      <div class="form-group">
        <label for="">开始日期</label>
        <input class="form-control" type="text" placeholder="e.g. 2015-01-09">
      </div>

      <div class="form-group">
        <label for="">担保人</label>
        <input class="form-control" type="text">
      </div>

      <div class="form-group">
        <label for="">抵押物</label>
        <input class="form-control" type="text">
      </div>

      <div class="form-group">
        <label for="">描述</label>
        <textarea class="form-control" name="name" rows="8" cols="40"></textarea>
      </div>

      <button class="btn btn-primary-outline confirm" ng-click="createCreditBook()">Submit</button>
    </section>
  </main>

  <div class="mask"></div>
</body>
</html>
